:root{
    --background-color : #111111;
    --items-color : #172224;
    --blue-color : #88e1f2;
    --red-color :#ed2024;
    --green-color :#2e8807;
    --font-name : 'Abril Fatface';
}

body{
background-color: var(--background-color);
font-family: var(--font-name);
}

#rectangle-nav-one{
    position: absolute;
    left: 2.4%;
    right: 3.07%;
    top: 2.9%;
    bottom: 85.4%;
    background: #000000;
    box-shadow: 0px 4px 5px 12px rgba(136, 225, 242, 0.25);
    border-radius: 19px;
}

#rectangle-nav-two{

    position: absolute;
    left: 4.76%;
    right: 5.49%;
    top: 5.7%;
    bottom: 88.1%;
    background: #000000;
    box-shadow: 0px 1px 2px 10px rgba(136, 225, 242, 0.25);
    border-radius: 5px;
}