

:root{
    
    /* --background-color : #111111;
    --items-color : #172224;
    --blue-color : #88e1f2;
    --red-color :#ed2024;
    --green-color :#2e8807;
    --gray-color : #141C1D;
    --nav-color : #000000;
    --font-name : 'Abril Fatface'; */


    
    --background-color: #decdcd;
    --items-color: #96a8ab;
    --blue-color: #fff;
    --red-color: #5f0270;
    --green-color: #2e8807;
    --gray-color: #b4c5c7;
    --nav-color: #de5e5f;
    --font-name: 'Abril Fatface';
}


.light{

    --background-color: #decdcd;
    --items-color: #96a8ab;
    --blue-color: #fff;
    --red-color: #5f0270;
    --green-color: #2e8807;
    --gray-color: #b4c5c7;
    --nav-color: #de5e5f;
    --font-name: 'Abril Fatface';

}

.dark{

    --background-color : #111111;
    --items-color : #172224;
    --blue-color : #88e1f2;
    --red-color :#ed2024;
    --green-color :#2e8807;
    --gray-color : #141C1D;
    --nav-color : #000000;
    --font-name : 'Abril Fatface';

}

#header{
    z-index: 1;
    
}
br{
    margin: 43px
}
body{
background-color: var(--background-color);
font-family: var(--font-name);
}

#rectangle-nav-one{
    position: absolute;
    left: 2.4%;
    right: 3.07%;
    top: 2.9%;
    bottom: 85.4%;
    background: var(--nav-color);
    box-shadow: 0px 4px 5px 12px rgba(136, 225, 242, 0.25);
    border-radius: 19px;
}

#rectangle-nav-two{

    position: absolute;
    left: 4.76%;
    right: 5.49%;
    top: 5.7%;
    bottom: 88.1%;
    background: var(--nav-color);
    box-shadow: 0px 1px 2px 10px rgba(136, 225, 242, 0.25);
    border-radius: 5px;
}


#nav-list{

    position: absolute;
left: 4.76%;
right: 5.49%;
top: 4.7%;
bottom: 88.1%;
background: var(--nav-color);
box-shadow: 0px 1px 2px 10px rgba(136, 225, 242, 0.25);
border-radius: 5px;
list-style: none;
display: flex;
color: var(--blue-color);
height: 4%;
}

#nav-list li{
    cursor: pointer;
    margin-left: 250px;

}
#nav-list li:hover,#nav-list li:active{
border: 3px solid var(--red-color);
border-radius: 30px;
padding: 2px;
}

.active {
    font-weight: bold;
    color: var(--red-color);
  }

#nav-list li:nth-child(4){
margin-left: 206px;
}

a {
    color: inherit;
    text-decoration: none;
  }