#Warehouse_info{
margin: 0%;
padding: 0;
color: var(--blue-color);

}

#add-product{

    position: relative;
    top: 63px;
    left: 75%;
    box-shadow: none;
    padding: 15px;

}



#Warehouse_info{

margin: 10% 4%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}

 #warehouse_info_con #update-button,#warehouse_info_con .delete-button{

    display: none;
}

